$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #34b346;
$brand-secondary:       #3b3c3c;
$brand-accent:          #ffba14;
$dark:                  #111111;
$dark-text:             #fff;
