// compileCompressed: ./$1.css
// compileOnSave: true

@import "common/variables";
@import "common/mixins";

@import "bootstrap/bootstrap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

@font-face {
	font-family: 'Nexa';
	src: url('#{$icon-font-path:}/NexaBold.eot');
	src: url('#{$icon-font-path:}/NexaBold.eot?#iefix') format('embedded-opentype'),
		url('#{$icon-font-path:}/NexaBold.woff') format('woff'),
		url('#{$icon-font-path:}/NexaBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/home";
@import "layouts/search";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/branch";
@import "layouts/prop";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/woo";
