<section id="searchForm">
  <div class="container">
    <h3>Are you looking for somewhere to rent?</h3>
    <form action="{{site.url}}" method="get">
      <div class="row holder">
        <div class="col-sm-2"><span class="hidden-md-down">Property</span> Type</div>
        <div class="col-sm-3">
        <select class="form-control" id="post_type" name="post_type">
          <option value="property" selected>View All</option>
          <option>Single Room</option>
          <option>Double Room</option>
          <option>1 Bedroom Property</option>
          <option>2 Bedroom Property</option>
          <option>3 Bedroom Property</option>
          <option>4+ Bedroom Property</option>
        </select>
        </div>
        <div class="col-sm-2"><span class="hidden-md-down">Property</span>  Location</div>
        <div class="col-sm-3">
          <select class="form-control" id="city" name="city">
            <option value="all" selected>View All</option>
            <option>Boston</option>
            <option>Newark</option>
            <option>Stevenage</option>
          </select>
        </div>
        <div class="col-sm-2">
          <input type="submit" value="Search" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</section>
