 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="first-slide img-fluid" src="{{ theme.path }}/assets/images/banner.png" alt="First slide">
      </div>
    </div>
  </div>
