<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Landlord Links</h3>
        </div>

        <div class="col-sm-3">
          <h3>Tenant's Links</h3>
        </div>

        <div class="col-sm-3">
        <h3>Contact Us</h3>
        <address>
          <strong>SmartMove (Boston) Ltd</strong><br>
          10 Dolphin Lane, Boston, <br>
          Lincolnshire PE21 6EU<br>
          Phone:  01205 500500<br>
        </address>
        <div class="social-icons">
          <ul>
            <li>
              <a href="#">
                  <img src="{{theme.link}}/assets/images/fb-icon.png" alt="Smartmove Lettings" class="img-fluid" />
              </a>
            </li>
            <li>
              <a href="#">
                  <img src="{{theme.link}}/assets/images/tw-icon.png" alt="Smartmove Lettings" class="img-fluid" />
              </a>
            </li>
          </ul>
        </div>
        </div>
        <div class="col-sm-3 cmp">
        <img src="http://smartmove.org.uk/wp-content/uploads/2016/12/CMP-site-logo.png" class="img-fluid">
          <small><a href="/contact" >Please contact our office for more information about CMP</a></small></div>
        </div>

        <div class="copyright">
          Smartmove (Boston) Ltd  &copy; 2017</br>
          Web Design by Ricky Green Creative
        </div>

      </div>
    </div>
</footer>
